.panel {
  margin-bottom: 20px;
}

.panel-heading {
  background-color: #337ab7;
  color: white;
}

.panel-footer {
  background-color: #f5f5f5;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}
